<div class="container tasks">
  <div class="tasks__header">Todo Tasks List</div>
  <button type="button"
          class="btn btn-success float-end mb-3"
          (click)="addNewTaskPage()"
  >Add New Task
  </button>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Label</th>
      <th scope="col">Description</th>
      <th scope="col">Category</th>
      <th scope="col">Is Done</th>
      <th scope="col">Operations</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let task of todoList;let i=index">
      <th scope="row">{{i}}</th>
      <td>{{task.label}}</td>
      <td>{{task.description}}</td>
      <td>{{task.category}}</td>
      <td>{{task.done ? task.done : ''}}</td>
      <td>
        <button type="button" class="btn btn-primary tasks__operand" (click)="showEditPage(task.id)">Edit</button>
        <button type="button" class="btn btn-danger tasks__operand" (click)="deleteTask(task.id,i)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
